.blog{
    width: 100%;
    height: auto;
}
.blogContainer{
    width: 100%;
    display: flex;
}
.divBlog{
    width: 100%;
    padding-left: 20px;
    height: 190vh;
    border-left: 1px solid rgba(220, 220, 220, 0.452);
    margin-left: 10vw;
}
.divBlog .titleBlog{
    position: sticky;
    top: 0vh;
    background-color: #fff;
    border-bottom: 1px solid rgba(238, 237, 237, 0.34);
    box-shadow: 2px 2px 2px rgba(246, 246, 246, 0.202);
    width: 100%;
}