.cardWeek{
    height: 450px;
    width: 800px;
    margin: 3vh auto;
    width: 60%;

}
.img{
    margin-left: 20px;
    margin-top: 20px;
    height: 330px;
    border-radius: 3px;
    object-fit: cover;
}
.info{
    margin-top: 20px;
    color: black;
    margin-left: 30px;
}
.linkPost{
    color: rgb(35, 35, 35);
    text-decoration: none;
}
.card{
    height: 370px;
    width: 1000px;
    margin-top: 10px;
    display: flex;
}
.card:hover{
    transition: .15s;
    background-color: rgba(224, 224, 224, 0.185);
    border-radius: 3px;
}
.container{
    padding-bottom: 10px;
    border-bottom: 1px solid gainsboro;
}