.cardWeek{
    height: 350px;
    width: 800px;
    margin: 3vh auto;
    width: 60%;

}
.img{
    height: 300px;
    border-radius: 3px;
    object-fit: cover;
}
.info{
    color: black;
    margin-left: 30px;
}
.linkPost{
    color: rgb(35, 35, 35);
    text-decoration: none;
}
.card{
    width: 900px;
    margin-top: 10px;
    display: flex;
}
.card:hover{
    transition: .15s;
    background-color: rgba(224, 224, 224, 0.185);
    border-radius: 3px;
}